/.metadata/
/.recommenders/
/Java_MasterClass/nbproject/private/
/Java_PildorasInformaticas/nbproject/private/
/Java_MasterClass_0124/nbproject/private/
/Java_MasterClass_0126/nbproject/private/
/Java_MasterClass_0125/nbproject/private/
/Java_PildorasInformaticas/build/