/.metadata/
/.recommenders/
/Java_MasterClass/nbproject/private/
/Java_PildorasInformaticas/nbproject/private/
/Java_MasterClass_0124/nbproject/private/
/Java_MasterClass_0126/nbproject/private/
/Java_MasterClass_0125/nbproject/private/
/Java_PildorasInformaticas/build/
/netbeans/JavaFXApplication1/nbproject/private/
/netbeans/JavaFXApplication1/build/
/netbeans/JavaFXApplication1/dist/
/netbeans/JavaFXApplication2/nbproject/private/
/netbeans/JavaFXApplication3/nbproject/private/
/netbeans/JavaFXApplication3/dist/
/netbeans/JavaFXApplication3/build/
/netbeans/Java_MasterClass_0110_014/nbproject/private/